
ngx-outlined-text-field{
    margin-bottom: 12px;
    width: 100%;
}

.material-symbols-outlined {
    margin: 8px;
    font-size: 22px;
}

.error {
    border-color: #FF4D4F;
}

.error .material-symbols-outlined {
    color: #FF4D4F;
}

.warning {
    border-color: #FAAD14;
}

.warning .material-symbols-outlined {
    color: #FAAD14;
}
