<button class="mt-4" ngx-button ngxType="primary" ngxBlock>Primary Button</button>
<button class="mt-4" ngx-button ngxType="default" ngxBlock>Default Button</button>
<button class="mt-4" ngx-button ngxType="dashed" ngxBlock>Dashed Button</button>
<button class="mt-4" ngx-button ngxType="text" ngxBlock>Text Button</button>
<button class="mt-4" ngx-button ngxType="link" ngxBlock>Link Button</button>

<ngx-divider class="my-4" ngxText="Buttons Disabled"></ngx-divider>

<button class="mt-4" ngx-button ngxType="primary" disabled ngxBlock>Primary Button</button>
<button class="mt-4" ngx-button ngxType="default" disabled ngxBlock>Default Button</button>
<button class="mt-4" ngx-button ngxType="dashed" disabled ngxBlock>Dashed Button</button>
<button class="mt-4" ngx-button ngxType="text" disabled ngxBlock>Text Button</button>
<button class="mt-4" ngx-button ngxType="link" disabled ngxBlock>Link Button</button>
