.ngx-option {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.ngx-option-disabled {
    color: #9E9E9E;
    pointer-events: none;
}

.ngx-option-selected {
    background-color: #F5F5F5;
    color: #1890FF;
}

.content {
    padding: 0 0.75rem;
}

.ngx-option:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}
