.ngx-table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
}

.ngx-table thead {
    background-color: var(--table-thead-background-color, #f5f5f5);
    position: sticky;
    top: 0;
    font-weight: 600;
    z-index: 100;
}

.ngx-table th,
.ngx-table td {
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #dddddd;
    font-size: 0.875rem;
}

.ngx-table-bordered .ngx-column-group th {
    border-bottom: none;
}

/*** Start of border styles for ngx-table ***/
/* Style for cells (th and td) of the ngx-table-bordered table with right border */
.ngx-table-bordered th,
.ngx-table-bordered td {
    border-right: 1px solid #dddddd;
    min-width: 3.125rem;
}

/* Style for the first cell (th and td) of the ngx-table-bordered table with left border */
.ngx-table-bordered th:first-child,
.ngx-table-bordered td:first-child {
    border-left: 1px solid #dddddd;
}

/* Style for th cells of the ngx-table-bordered table with top border */
.ngx-table-bordered th {
    border-top: 1px solid #dddddd;
}

/*** End of border styles for ngx-table ***/
.ngx-table th {
    white-space: nowrap;
    /* Evita saltos de línea */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.ngx-table td {
    border-bottom: 1px solid #dddddd;
    white-space: break-spaces;
}

.ngx-table thead>tr,
.ngx-table tbody>tr {
    height: 3rem;
}

.ngx-table tbody>tr:hover {
    cursor: default;
    background-color: var(--table-tr-hover-background-color, #f5f5f5);
    transition: all 0.3s;
}

.ngx-table .table-empty {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra de desplazamiento */

.ngx-table-container::-webkit-scrollbar {
    width: 8px;
    /* Ancho para ambos scrolls */
    height: 8px;
    /* Altura para ambos scrolls */
    background-color: #F1F1F1;
    border-radius: 10px;
    /* Radio de borde para ambos scrolls */
}

.ngx-table-container::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 10px;
    /* Radio de borde para ambos scrolls */
}

.ngx-th-sort-arrow {
    position: relative;
    cursor: pointer;
}

.ngx-sort-arrow {
    width: 8px;
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(-50%, -50%);
}

.ngx-sort-arrow .ngx-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    border-bottom: 7px solid #BFBFBF;
}

.ngx-sort-arrow .ngx-arrow-up.active {
    border-bottom: 7px solid #1890FF;
}

.ngx-sort-arrow .ngx-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: border-top 0.2s ease-in-out;
    border-top: 7px solid #BFBFBF;
}

.ngx-sort-arrow .ngx-arrow-down.active {
    border-top: 7px solid #1890FF;
}

.ngx-th-resize {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
}