.ngx-table-container {
    width: 100%;
    max-height: var(--max-height, 300px);
    /* Altura máxima predeterminada o variable */
    overflow: auto;
}

.ngx-table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: collapse;
    /* Colapsa los bordes */
    border-spacing: 0;
    empty-cells: show;
    table-layout: fixed;
    /* Ajusta el ancho de columnas proporcionalmente */
}

.ngx-table thead,
.ngx-table tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ngx-table thead {
    background-color: var(--ngx-table-thead-bg, #ECEEF0);
    position: sticky;
    top: 0;
    font-weight: 600;
    z-index: 1;
}

.ngx-table tbody {
    display: table;
    /* Asegura que se mantenga como tabla */
    width: 100%;
    max-height: var(--max-height, 300px);
    /* Altura máxima predeterminada o variable */
    overflow: auto;
}

.ngx-table th,
.ngx-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--ngx-table-border-color, #d1d9e0b3);
    font-size: 14px;
    position: relative;
    /* Necesario para el control de redimensionamiento */
    width: auto;
    /* Asegura el ancho adecuado de las celdas */
    min-width: auto;
    /* Permite ajustar el ancho mínimo de las celdas */
}

/* Estilos de tabla con bordes */
.ngx-table-bordered th,
.ngx-table-bordered td {
    border-right: 1px solid var(--ngx-table-border-color, #d1d9e0b3);
}

.ngx-table-bordered th:first-child,
.ngx-table-bordered td:first-child {
    border-left: 1px solid var(--ngx-table-border-color, #d1d9e0b3);
}

.ngx-table-bordered th {
    border-top: 1px solid var(--ngx-table-border-color, #d1d9e0b3);
}

/* Estilos adicionales */
.ngx-table tbody>tr:hover {
    cursor: default;
    background-color: var(--ngx-table-row-bg, #ECEEF0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.ngx-table .table-empty {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del scrollbar */
.ngx-table tbody::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.ngx-table tbody::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}

.ngx-table .ngx-table-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ngx-table-column-sorters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
}

.ngx-table .ngx-table-column-sorters .ngx-sort-arrow {
    width: 8px;
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-direction: column;
    cursor: pointer;
}

.ngx-table .ngx-table-column-sorters .ngx-sort-arrow .ngx-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    border-bottom: 7px solid var(--ngx-table-border-color, #d1d9e0b3);
}

.ngx-table .ngx-table-column-sorters .ngx-arrow-up.active {
    border-bottom: 7px solid var(--primary-6) !important;
}

.ngx-table .ngx-table-column-sorters .ngx-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: border-top 0.2s ease-in-out;
    border-top: 7px solid var(--ngx-table-border-color, #d1d9e0b3);
}

.ngx-table .ngx-table-column-sorters .ngx-arrow-down.active {
    border-top: 7px solid var(--primary-6);
}

/* Manejador de redimensionamiento */
.resize-handle {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    background-color: transparent;
}

.ngx-table th:hover .resize-handle {
    border-left: 1px solid var(--ngx-table-border-color, #d1d9e0b3);
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    transition: background 0.3s ease-in-out;
    border-radius: 2px;
}

*:hover::-webkit-scrollbar-thumb {
    background: var(--neutral-7, #8c8c8c);
}