<div class="flex items-center mb-4">
  <label for="size">SIZE:</label>
  <select name="size" id="size" [(ngModel)]="size">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="rounded">ROUNDED:</label>
  <select name="rounded" id="rounded" [(ngModel)]="rounded">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
    <option value="full">full</option>
  </select>

  <label for="fillMode">Fill Mode:</label>
  <select name="fillMode" id="fillMode" [(ngModel)]="fillMode">
    <option value="filled">filled</option>
    <option value="outlined">outlined</option>
    <option value="text">text</option>
    <option value="elevated">elevated</option>
  </select>

  <div>
    <label>Disabled</label>
    <ngx-switch [(ngModel)]="disabled"></ngx-switch>
  </div>
</div>

<div class="flex gap-4">
  <button
    ngx-button
    ngxColor="#99FFFF"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label1
  </button>

  <button
    ngx-button
    ngxColor="rgba(153, 255, 255, 1)"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label2
  </button>

  <button
    ngx-button
    ngxColor="hsl(180, 100%, 80%)"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label3
  </button>

  <button
    ngx-button
    ngxColor="hsla(180, 100%, 80%, 1)"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label4
  </button>

  <button
    ngx-button
    ngxColor="rgb(153, 255, 255)"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label5
  </button>

  <button
    ngx-button
    ngxColor="darkorchid"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label6
  </button>

  <button
    ngx-button
    [ngxColor]="{
      backgroundColor: 'var(--ngx-comp-button-bg-color)',
      overlayColor: 'var(--ngx-comp-button-color)'
    }"
    [ngxSize]="size"
    [ngxRounded]="rounded"
    [ngxFillMode]="fillMode"
    [disabled]="disabled"
  >
    Label7
  </button>
</div>
