button[ngx-button] {
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

ngx-outlined-text-field {
    height: 40px;
    width: 300px;
    border-color: #D9D9D9;
    border-radius: 4px;
}