:root[theme="light"] {
    --ngx-comp-form-field-filled-background-color: rgb(245, 245, 245);
    --ngx-comp-input-color: var(--md-sys-color-primary-light);
    --ngx-comp-form-field-filled-border-color: var(--md-sys-color-primary-light);
}