code {
  font-size: 14px !important;
  line-height: 1.5715 !important;
}

pre {
  font-size: 14px !important;
  line-height: 1.5715;
}
:root[theme="dark"] {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: rgb(43, 43, 45);
    color: rgb(205, 211, 216);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font: 300 100%/1 Roboto Mono, monospace;
    font-size: 14px;
  }
  .hljs > *::selection {
    background-color: #3e4451;
  }
  .hljs-comment {
    color: #9e9e9e;
    font-style: italic;
  }
  .hljs-selector-tag {
    color: #c792ea;
  }
  .hljs-string {
    color: #9ccc65;
  }
  .hljs-subst {
    color: #9ccc65;
  }
  .hljs-number {
    color: #f77669;
  }
  .hljs-regexp {
    color: #f77669;
  }
  .hljs-variable {
    color: #f77669;
  }
  .hljs-template-variable {
    color: #f77669;
  }
  .hljs-keyword {
    color: #c792ea;
  }
  .hljs-function {
    color: #75a5ff;
  }
  .hljs-tag {
    color: #ce93d8;
  }
  .hljs-name {
    color: #4dd0e1;
  }
  .hljs-type {
    color: #da4939;
  }
  .hljs-attribute {
    color: #80cbbf;
  }
  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-link {
    color: #c792ea;
  }
  .hljs-params {
    color: #eefff7;
  }
  .hljs-meta,
  .hljs-title {
    color: #75a5ff;
  }
  .hljs-section {
    color: #ffc66d;
  }
  .hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }
  .hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }
  .hljs-selector-class {
    color: #ffcb68;
  }
  .hljs-selector-id {
    color: #f77669;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 700;
  }
  .hljs-link {
    text-decoration: underline;
  }
}

:root {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: rgb(242, 244, 245);
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font: 300 100%/1 Roboto Mono, monospace;
    font-size: 14px;
  }

  .hljs > *::selection,
  .hljs-section {
    background-color: #d6edea;
  }

  .hljs-comment {
    color: #616161;
    font-style: italic;
  }

  .hljs-tag,
  .hljs-selector-tag,
  .hljs-regexp,
  .hljs-meta {
    color: #9c27b0;
  }

  .hljs-string,
  .hljs-subst {
    color: #0d904f;
  }

  .hljs-number,
  .hljs-variable,
  .hljs-template-variable {
    color: #80cbc4;
  }

  .hljs-name,
  .hljs-keyword,
  .hljs-type,
  .hljs-attribute {
    color: #3b78e7;
  }

  .hljs-title,
  .hljs-function > .hljs-title,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-link {
    color: #6182b8;
  }

  .hljs-params {
    color: #d81b60;
  }

  .hljs-addition {
    color: #3b78e7;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    color: #e53935;
    display: inline-block;
    width: 100%;
  }

  .hljs-selector-id,
  .hljs-selector-class {
    color: #8796b0;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
