<nav>
  <ul>
    <li class="gap-4" (click)="openSideBar()">
      <span class="material-symbols-outlined">
        menu
      </span>
      {{ activatedRouteName }}
    </li>
  </ul>
</nav>
<div class="container">
  <section>
    <router-outlet></router-outlet>
    <div *ngIf="showContributors" class="content_contributor">
      <a [href]="contributor.html_url" ngxTooltip="{{contributor.login}}"
        *ngFor="let contributor of contributorsService.contributors$ | async">
        <ngx-avatar [ngxSrc]="contributor.avatar_url"></ngx-avatar>
      </a>
    </div>
  </section>
</div>