nav {
  height: 45px;
  width: 100%;
  background-color: var(--ngx-secondary-background-color);
  border-bottom: 1px solid var(--ngx-border-color);
  color: var(--ngx-navbar-color);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px #0000001a, 0 2px 4px #0000000d, 0 0 8px #00000008;
  padding-inline-start: 2.25rem;
  padding-inline-end: 2.25rem;
}

.container {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: row;
}

.menu {
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
}

section {
  overflow-y: scroll;
  width: 100%;
}

.content_contributor {
  padding: 32px;
}

.content_contributor a {
  margin-right: 8px;
}

$compact: 600px;
$medium: 840px;
$expanded: 1200px;
$large: 1600px;
$extra-large: 1600px;

@media (max-width: $medium) {
  .container {
    height: calc(100vh - 135px);
  }

  .content_contributor {
    padding: 16px;
  }
}

@media (max-width: $compact) {
  nav {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

