button {
  box-sizing: border-box;
  border: 1px solid transparent;
  color: var(--neutral-1, #ffffff);
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  gap: 0.25rem;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  position: relative;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s ease-in-out;

  &.button-filled,
  &.button-elevated {
    background-color: var(--primary-6, #1890ff);
    color: var(--neutral-1, #ffffff);
  }

  &.button-outlined {
    background-color: transparent;
    border-color: var(--primary-6, #1890ff);
    color: var(--primary-6, #1890ff);

    &:hover {
      color: var(--primary-5, #40a9ff);
      background-color: transparent !important;
    }

    &:active {
      color: var(--primary-7, #096dd9);
      background-color: transparent !important;
    }
  }

  &.button-text {
    background-color: transparent;
    border: none;
    color: var(--primary-6, #1890ff);

    &:hover {
      color: var(--primary-5, #40a9ff);
      background-color: transparent !important;
    }

    &:active {
      color: var(--primary-7, #096dd9);
      background-color: transparent !important;
    }
  }

  &.button-elevated {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    border-color: var(--primary-5, #40a9ff) !important;
    background-color: var(--primary-5, #40a9ff) !important;
  }

  &:active {
    border-color: var(--primary-7, #096dd9) !important;
    background-color: var(--primary-7, #096dd9) !important;
  }

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &.button-sm {
    font-size: 0.75rem;
    padding: 0 1rem;
    height: 1.5rem;
  }

  &.button-md {
    font-size: 0.875rem;
    padding: 0 1.25rem;
    height: 2rem;
  }

  &.button-lg {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 1.5rem;
    height: 2.5rem;
  }

  &.button-rounded-sm {
    border-radius: 2px;
  }

  &.button-rounded-md {
    border-radius: 4px;
  }

  &.button-rounded-lg {
    border-radius: 6px;
  }

  &.button-rounded-full {
    border-radius: 9999px;
  }
}