:root[theme="dark"] {
    --ngx-comp-form-field-filled-background-color: rgb(53, 51, 59);
    --ngx-comp-input-color: var(--md-sys-color-primary-dark);
    --ngx-comp-form-field-filled-border-color: var(--md-sys-color-primary-dark);
}