<!-- <ngx-divider></ngx-divider>
<p class="text-justify mt-4">
    <span class="font-bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    but also the leap into electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.
</p>
<ngx-divider class="mt-4" ngxText="Lorem Ipsum"  ngxColor="red"></ngx-divider>
<p class="text-justify">
    <span class="font-bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    but also the leap into electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.
</p> -->

<ngx-divider
  class="mt-4"
  ngxOrientation="left"
  ngxText="Lorem Ipsum"
  ngxColor="red"
></ngx-divider>

<ngx-divider
  class="mt-4"
  ngxType="vertical"
  ngxText="Lorem Ipsum"
  ngxColor="red"
></ngx-divider>

<div>
  Text
  <ngx-divider ngxType="vertical" ngxColor="red"></ngx-divider>
  <a href="#">Link</a>
  <ngx-divider ngxType="vertical"></ngx-divider>
  <a href="#">Link</a>
</div>
