<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ngx-outlined-text-field
    autocomplete="off"
    label="Email"
    placeholder="Email"
    formControlName="email"
    error-text="Please input your Email!"
    [prefix]="person"
  >
  </ngx-outlined-text-field>

  <ngx-outlined-text-field
    label="Password"
    [type]="type"
    placeholder="password"
    formControlName="password"
    error-text="Please input your Password!"
    [prefix]="lock"
    [suffix]="visibility"
  >
  </ngx-outlined-text-field>

  <button type="submit" [disabled]="!loginForm.valid" ngx-button>Login</button>
</form>

<ng-template #person>
  <span class="material-symbols-outlined"> person </span>
</ng-template>

<ng-template #lock>
  <span class="material-symbols-outlined"> lock </span>
</ng-template>

<ng-template #visibility>
  <span
    class="material-symbols-outlined suffix"
    (click)="type = type === 'password' ? 'text' : 'password'"
  >
    {{ type === "password" ? "visibility" : "visibility_off" }}
  </span>
</ng-template>
