:root[theme="light"] {
    --ngx-comp-select-form-field-filled-background-color: rgb(245, 245, 245);
    --ngx-comp-select-opt-bg-hover: rgb(200, 200, 200);
    --ngx-comp-select-filter-arrow: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%);
}