
.mt-2.\5 {
    margin-top: 0.625rem;
    /* 10px */
}

.mt-4 {
    margin-top: 1rem;
    /* 16px */
}

.mt-5 {
    margin-top: 1.25rem;
    /* 20px */
}

.mt-7 {
    margin-top: 1.75rem;
    /* 28px */
}

.mt-6 {
    margin-top: 1.5rem;
    /* 24px */
}

.mt-8 {
    margin-top: 2rem;
    /* 32px */
}

.mt-10 {
    margin-top: 2.5rem;
    /* 40px */
}

.mt-16 {
    margin-top: 4rem;
    /* 64px */
}

.mt-12 {
    margin-top: 3rem;
    /* 48px */
}

.mr-2 {
    margin-right: 0.5rem;
    /* 8px */
}

.mb-2{
    margin-bottom: 0.5rem;
    /* 8 */
}

.mb-4 {
    margin-bottom: 1rem;
    /* 16 */
}

.mb-6 {
    margin-bottom: 1.5rem;
    /* 24px */
}

.mb-16 {
    margin-bottom: 4rem;
    /* 64px */
}

.ml-10 {
    margin-left: 2.5rem;
    /* 40px */
}


.my-2 {
    margin-top: 0.5rem;
    /* 8px */
    margin-bottom: 0.5rem;
    /* 8px */
}

.my-4 {
    margin-top: 1rem;
    /* 8px */
    margin-bottom: 1rem;
    /* 8px */
}
