<div class="flex items-center mb-4">
  <label for="size">ngxSize:</label>
  <select name="size" id="size" [(ngModel)]="ngxSize">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="rounded">ngxRounded:</label>
  <select name="rounded" id="rounded" [(ngModel)]="ngxRounded">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="fillMode">ngxFillMode:</label>
  <select name="fillMode" id="fillMode" [(ngModel)]="ngxFillMode">
    <option value="filled">filled</option>
    <option value="outlined">outlined</option>
  </select>

  <div>
    <label>Disabled</label>
    <ngx-switch [(ngModel)]="disabled"></ngx-switch>
  </div>

</div>

<div class="flex gap-x-6">
  <ngx-select
    [ngxSize]="ngxSize"
    [ngxRounded]="ngxRounded"
    [ngxFillMode]="ngxFillMode"
    label="Label"
    [(ngModel)]="input1"
    placeholder="Placeholder1"
    [disabled]="disabled"
  >
    <ngx-option value="opt1">Option 1</ngx-option>
    <ngx-option value="opt2">Option 2</ngx-option>
    <ngx-option value="opt3">Option 3</ngx-option>
    <ngx-option value="opt4">Option 4</ngx-option>
    <ngx-option value="opt5">Option 5</ngx-option>
    <ngx-option value="opt6">Option 6</ngx-option>
    <ngx-option value="opt7">Option 7</ngx-option>
    <ngx-option value="opt8">Option 8</ngx-option>
    <ngx-option value="opt9">Option 9</ngx-option>
    <ngx-option value="opt10">Option 10</ngx-option>
  </ngx-select>
