<form [formGroup]="form">
  <ngx-outlined-select-field placeholder="Select option" (onChangeValue)="onChangeValue($event)"
    formControlName="select" autocomplete>
    <ngx-option *ngFor="let option of options" [value]="option.value">{{
      option.label
      }}</ngx-option>
  </ngx-outlined-select-field>
</form>

<ng-template #prefixSearch>
  <span class="material-symbols-outlined"> search </span>
</ng-template>

<ng-template #suffixSearch1>
  <span class="material-symbols-outlined"> search </span>
</ng-template>