.ngx-select {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  display: block;
}

.ngx-select .ngx-select-label {
  max-width: max-content;
  margin-left: 0.5rem;
  position: relative;
  transition: top ease-in-out 0.125s;
}

.ngx-select .ngx-select-input {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  color: var(--ngx-comp-input-color);
  background: none;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  position: relative;
  transition: color 0.2s ease-in-out;
  border: none;
  height: 100%;
}

.ngx-select .ngx-nat-input:disabled {
  opacity: 0.75;
}

.ngx-select.ngx-select-outlined {
  border: 1px solid;
  border-top: 1px solid transparent;
}

.ngx-select.ngx-select-filled {
  border: none;
  background-color: var(--ngx-comp-form-field-filled-background-color) !important;
  border-bottom: 1px solid;
}