<div class="grid gap-4">
  <h1 ngxBadge="9">"h1" with a badge</h1>
  <h2 ngxBadge="9">"h2" with a badge</h2>
  <h3 ngxBadge="9">"h3" with a badge</h3>
  <h4 ngxBadge="9">"h4" with a badge</h4>
  <h5 ngxBadge="9">"h5" with a badge</h5>
  <h6 ngxBadge="9">"h6" with a badge</h6>
  <p ngxBadge="9">"p" with a badge</p>
  <span ngxBadge="9">"span" with a badge</span>
  <a ngxBadge="9">"a" with a badge</a>
  <strong ngxBadge="9">"strong" with a badge</strong>
  <em ngxBadge="9">"em" with a badge</em>
  <b ngxBadge="9">"b" with a badge</b>
  <i ngxBadge="9">"i" with a badge</i>
  <u ngxBadge="9">"u" with a badge</u>
  <s ngxBadge="9">"s" with a badge</s>
  <sup ngxBadge="9">"sup" with a badge</sup>
  <sub ngxBadge="9">"sub" with a badge</sub>
  <blockquote ngxBadge="9">"blockquote" with a badge</blockquote>
  <q ngxBadge="9">"q" with a badge</q>
  <cite ngxBadge="9">"cite" with a badge</cite>
  <code ngxBadge="9">"code" with a badge</code>
  <pre ngxBadge="9">"pre" with a badge</pre>
  <abbr ngxBadge="9">"abbr" with a badge</abbr>
  <time ngxBadge="9">"time" with a badge</time>
  <div>
    Button with a badge
    <button ngx-button buttonFillMode="filled" ngxBadge="6">Button</button>
  </div>
  <ngx-avatar ngxBadge="5"></ngx-avatar>
</div>
