.ngx-expansion-panel {
  width: 100%;
}

.ngx-expansion-panel.exp-panel {
  color: var(--ngx-theme-color-epanel);
}

.exp-panel.card-type {
  border-radius: 8px;
  background-color: var(--ngx-theme-bg-epanel);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
}



.exp-panel .rotate {
  rotate: 180deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .no-rotate {
  rotate: 0deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .arrow {
  filter: var(--ngx-theme-filter-epanel-arrow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-panel .header {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  height: 2.875rem;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.exp-panel .content {
  padding: 1rem;
}

.border-bottom-header {
  border-bottom: 1px solid currentColor;
}

.border-bottom-exp-item {
  border-bottom: 1px solid currentColor;
}

.exp-panel.bordered-type {
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
  border-top: 0.5px solid currentColor;
}

.exp-panel>.header.expand-icon-position {
  direction: rtl;
  justify-content: end !important;
  gap: 0.5rem;
}

.exp-panel>.header.disabled {
  opacity: 0.65;
  cursor: no-drop;
}