.ngx-expansion-panel {
  width: 100%;
}

.exp-panel.card-type {
  border-radius: 8px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
  background-color: var(--ngx-accordion-bg) !important;
}

.exp-panel .rotate-left {
  rotate: 0deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .no-rotate-left {
  rotate: -90deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .rotate-right {
  rotate: 180deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .no-rotate-right {
  rotate: 0deg;
  transition: rotate 0.2s ease-out;
}

.exp-panel .arrow {
  filter: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-panel .header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  min-height: 2.875rem;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  word-break: break-word;
}

.exp-panel>.header span {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

.exp-panel .content {
  padding: 1rem;
  word-break: break-word;
}

.exp-panel .content-default {
  padding-left: 1rem;
  word-break: break-word;
}

.border-bottom-header {
  border-bottom: 1px solid var(--ngx-border-color);
}

.border-bottom-exp-item {
  border-bottom: 1px solid var(--ngx-border-color);;
}

.exp-panel.bordered-type {
  border-left: 1px solid var(--ngx-border-color);
  border-right: 1px solid var(--ngx-border-color);
  border-top: 0.5px solid var(--ngx-border-color);
  background-color: var(--ngx-accordion-bg) !important;
}

.exp-panel>.header.expand-icon-position {
  direction: rtl;
  justify-content: end !important;
  gap: 0.5rem;
  text-align: left;
}

.exp-panel>.header.disabled {
  opacity: 0.65;
  cursor: no-drop;
}