<ngx-radio-group [(ngModel)]="radioGroupValue">
  <ngx-radio-button [(ngModel)]="radioValueA" ngxValue="A">
    A
  </ngx-radio-button>
  <ngx-radio-button [(ngModel)]="radioValueB" ngxValue="B">
    B
  </ngx-radio-button>
  <ngx-radio-button [(ngModel)]="radioValueC" ngxValue="C">
    C
  </ngx-radio-button>
</ngx-radio-group>

<div class="grid gap-2 mt-4">
  <p>Selected Value: {{ radioGroupValue }}</p>
  <p>A: {{ radioValueA }}</p>
  <p>B: {{ radioValueB }}</p>
  <p>C: {{ radioValueC }}</p>
</div>
