<div class="tooltip-container">
        <div ngx-row ngxJustify="center">
                <button ngx-button ngxTooltip="Tooltip at the top">Top</button>
        </div>
        <div ngx-row ngxJustify="space-between" ngxAlign="middle">
                <div ngx-col ngxSpan="6">
                        <button ngx-button ngxTooltip="Tooltip on the left" tooltipPosition="left">Left</button>
                </div>
                <div ngx-col ngxSpan="6">
                        <button ngx-button ngxTooltip="Tooltip on the right" tooltipPosition="right">Right</button>
                </div>
        </div>
        <div ngx-row ngxJustify="center">
                <button ngx-button ngxTooltip="Tooltip at the bottom" tooltipPosition="bottom">Bottom</button>
        </div>
</div>