.resizable-box {
        height: 200px;
        width: 400px;
        background-color: #EEEEEE;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;
        color: #595959;
}