.ngx-avatar-group {
  display: inline-flex;
}

.ngx-avatar-group .ngx-avatar:not(:first-child) {
  margin-left: -0.5rem;
}

.ngx-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-grid;
  align-items: center;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #CCCCCC;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.ngx-avatar-lg {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.ngx-avatar-df {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.ngx-avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.ngx-avatar>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ngx-avatar-circle {
  border-radius: 50%;
}

.ngx-avatar-square {
  border-radius: 2px;
}

.ngx-avatar-user {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.ngx-avatar-lg .ngx-avatar-user {
  font-size: 24px;
}

.ngx-avatar-df .ngx-avatar-user {
  font-size: 18px
}

.ngx-avatar-sm .ngx-avatar-user {
  font-size: 14px;
}