<ngx-divider ngxText="Tabs align left"></ngx-divider>

<ngx-tab-group ngxAlignTabs="start">
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>

<ngx-divider ngxText="Tabs align center"></ngx-divider>

<ngx-tab-group ngxAlignTabs="center">
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>

<ngx-divider ngxText="Tabs align right"></ngx-divider>

<ngx-tab-group ngxAlignTabs="end">
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>
