.col {
  height: 3rem;
  color: #fff;
  background: #0092ff;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
}

div[ngx-row] > .col:nth-child(odd) {
  background-color: #40adff;
}

div[ngx-row] > .col:nth-child(even) {
  background-color: #7fc8ff;
}

ngx-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
