<h1>24 Grids System.</h1>
<div ngx-row>
  <div class="col" ngx-col ngxSpan="12">col-12</div>
  <div class="col" ngx-col ngxSpan="12">col-12</div>
</div>

<div ngx-row>
  <div class="col" ngx-col ngxSpan="8">col-8</div>
  <div class="col" ngx-col ngxSpan="8">col-8</div>
  <div class="col" ngx-col ngxSpan="8">col-8</div>
</div>

<div ngx-row>
  <div class="col" ngx-col ngxSpan="6">col-6</div>
  <div class="col" ngx-col ngxSpan="6">col-6</div>
  <div class="col" ngx-col ngxSpan="6">col-6</div>
  <div class="col" ngx-col ngxSpan="6">col-6</div>
</div>

<div ngx-row>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>
