.col {
  border: 1px solid;
  color: #fff;
  height: 3.5rem;
  align-items: center;
  display: flex !important;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
}

div[ngx-row] > .col:nth-child(odd) {
  background-color: #40adff;
}

div[ngx-row] > .col:nth-child(even) {
  background-color: #7fc8ff;
}
