:host {
        width: auto;
        height: auto;
        display: inline-block;
}

.signature-wrapper-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        border-radius: 4px;
        border: solid 1px #dee0e5;
        background-color: var(--csl-secondary-background-color);
        text-align: center;
}

.signature-pad {
        width: auto;
        height: auto;
        position: absolute;
        align-items: flex-end;
        display: flex;
        user-select: none;
        border-bottom: 1px solid;

        .sig-icon {
                position: absolute;
        }
}

.clean-signature {
        position: absolute;
        bottom: 4px;
        right: 4px;
        cursor: pointer;
}

.color-palette {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-bottom: 8px;
}

.color-palette button {
        width: 16px !important;
        height: 16px !important;
        padding: 0 !important;
        border: none;
        border-radius: 50%;
        cursor: pointer;
}

button.active {
        border: 2px solid var(--primary-6, #1890ff) !important;
}