<!-- <ngx-carousel>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="la"
  /></ngx-carousel-item>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="chicago" />
  </ngx-carousel-item>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="ny" />
  </ngx-carousel-item>
</ngx-carousel> -->

<ngx-carousel class="mt-4" ngxAutoPlay>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="la"
  /></ngx-carousel-item>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="chicago" />
  </ngx-carousel-item>
  <ngx-carousel-item>
    <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="ny" />
  </ngx-carousel-item>
</ngx-carousel>