<div class="flex gap-8">
  <ngx-carousel ngxAutoPlay>
    <ngx-carousel-item>
      <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="la"
    /></ngx-carousel-item>
    <ngx-carousel-item>
      <img
        src="https://www.w3schools.com/bootstrap/chicago.jpg"
        alt="chicago"
      />
    </ngx-carousel-item>
    <ngx-carousel-item>
      <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="ny" />
    </ngx-carousel-item>
  </ngx-carousel>
  
  <ngx-carousel>
    <ngx-carousel-item>
      <div class="container">
        <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="la" />
      </div>
    </ngx-carousel-item>
    <ngx-carousel-item>
      <div class="container">
        <img
          src="https://www.w3schools.com/bootstrap/chicago.jpg"
          alt="chicago"
        />
      </div>
    </ngx-carousel-item>
    <ngx-carousel-item>
      <div class="container">
        <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="ny" />
      </div>
    </ngx-carousel-item>
  </ngx-carousel>
</div>
