<ngx-card>
        <ngx-card-header ngx-row class="items-center">
                <div ngx-col ngxSpan="3">
                        <div skeleton="avatar"></div>
                </div>
                <div ngx-col ngxSpan="21" class="pl-4">
                        <div skeleton="text" class="w-6"></div>
                        <div skeleton="text" class="w-6 mt-2"></div>
                </div>
        </ngx-card-header>
        <div skeleton ngx-card-image></div>
        <ngx-card-content>
                <div skeleton="text" class="w-32"></div>
                <div skeleton="text" class="w-6 mt-2"></div>
                <div skeleton="text" class="w-6 mt-2"></div>
        </ngx-card-content>

        <ngx-card-actions>
                <div skeleton="button"></div>
                <div skeleton="button"></div>
        </ngx-card-actions>
</ngx-card>