.ngx-progress {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.ngx-progress>.ngx-progress-outer {
    width: 100%;
    background-color: var(--ngx-comp-progress-background-color);
    border-radius: 100px;
    display: inline-block;
}

.ngx-progress>.ngx-progress-outer.ngx-progress-sm {
    height: 0.375rem;
}

.ngx-progress>.ngx-progress-outer.ngx-progress-df {
    height: 0.5rem;
}

.ngx-progress>.ngx-progress-outer.ngx-progress-lg {
    height: 0.625rem;
}

.ngx-progress>.ngx-progress-outer>.ngx-progress-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 100px;
    width: 0%;
    //transition: width 0.5s ease-in-out;
}