@import "../button/theme/ngx-theme-light";
@import "../expansion-panel/theme/ngx-theme-light";
:root[theme="light"] {
  --ngx-theme-bg-card: rgb(255, 255, 255);
  --ngx-theme-bg-act-carousel: #7282a1;
  --ngx-theme-bg-act-carousel-active: rgb(255, 255, 255);
  --ngx-theme-badge-background-color: rgb(244, 67, 54);
  --ngx-theme-badge-color: rgb(255, 255, 255);
}
