<ngx-divider ngxText="Default"></ngx-divider>

<ngx-tag>Tag1</ngx-tag>
<ngx-tag>Tag2</ngx-tag>
<ngx-tag>Tag3</ngx-tag>

<ngx-divider ngxText="Closeable"></ngx-divider>

<ngx-tag ngxMode="closeable" ngxColor="#1890FF">Tag1</ngx-tag>
<ngx-tag ngxMode="closeable" ngxColor="#1890FF">Tag2</ngx-tag>
<ngx-tag ngxMode="closeable" ngxColor="#1890FF">Tag3</ngx-tag>

<ngx-divider ngxText="Checkable"></ngx-divider>

<ngx-tag ngxMode="checkable" [ngxChecked]="true">Tag1</ngx-tag>
<ngx-tag ngxMode="checkable" [ngxChecked]="true">Tag2</ngx-tag>
<ngx-tag ngxMode="checkable" [ngxChecked]="true">Tag3</ngx-tag>

<ngx-divider ngxText="Sync"></ngx-divider>

<ngx-tag ngxMode="sync" [ngxChecked]="true">Tag1</ngx-tag>
<ngx-tag ngxMode="sync" [ngxChecked]="true">Tag2</ngx-tag>
<ngx-tag ngxMode="sync" [ngxChecked]="true">Tag3</ngx-tag>
