:host {
    display: block;
    width: fit-content;
    font-size: 14px;
}

.ngx-paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ngx-paginator label {
    margin-right: 8px;
    font-size: inherit;
}

.ngx-paginator .ngx-paginator-select {
    height: var(--ngx-paginator-select-height, 40px);
    width: var(--ngx-paginator-select-width, 80px);
    border-color: var(--ngx-paginator-select-border, #9E9E9E);
    font-size: inherit;
}

.ngx-paginator .skip {
    cursor: pointer;
    padding: 0;
}