<div class="flex items-center gap-4">
  <ngx-avatar [ngxSize]="64"></ngx-avatar>
  <ngx-avatar ngxSize="large"></ngx-avatar>
  <ngx-avatar ngxSize="default"></ngx-avatar>
  <ngx-avatar ngxSize="small"></ngx-avatar>
</div>

<div class="flex items-center gap-4 mt-4">
  <ngx-avatar [ngxSize]="64" [ngxShape]="'square'"></ngx-avatar>
  <ngx-avatar ngxSize="large" [ngxShape]="'square'"></ngx-avatar>
  <ngx-avatar ngxSize="default" [ngxShape]="'square'"></ngx-avatar>
  <ngx-avatar ngxSize="small" [ngxShape]="'square'"></ngx-avatar>
</div>
