<ngx-divider ngxText="Tabs position top"></ngx-divider>

<ngx-tab-group>
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>

<ngx-divider ngxText="Tabs position left"></ngx-divider>

<ngx-tab-group tabPosition="left">
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>

<ngx-divider ngxText="Tabs position right"></ngx-divider>

<ngx-tab-group tabPosition="right">
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3">
    <div
      style="
        border: 1px solid red;
        background-color: red;
        border-radius: 8px;
        width: 100%;
        height: 100%;
      "
    >
      Content of tab 3
    </div>
  </ngx-tab>
</ngx-tab-group>
