<ngx-divider ngxText="Align Top"></ngx-divider>

<div ngx-row ngxJustify="center" ngxAlign="top">
  <div class="col" ngx-col ngxSpan="4" style="height: 100px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 50px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 120px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 80px;">col-4</div>
</div>

<ngx-divider ngxText="Align Center"></ngx-divider>

<div ngx-row ngxJustify="space-around" ngxAlign="middle">
  <div class="col" ngx-col ngxSpan="4" style="height: 100px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 50px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 120px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 80px;">col-4</div>
</div>

<ngx-divider ngxText="Align Bottom"></ngx-divider>

<div ngx-row ngxJustify="space-between" ngxAlign="bottom">
  <div class="col" ngx-col ngxSpan="4" style="height: 100px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 50px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 120px;">col-4</div>
  <div class="col" ngx-col ngxSpan="4" style="height: 80px;">col-4</div>
</div>
