.container {
    height: 100%;
    width: 100%;
    min-width: 20rem;
    min-height: 15rem;
    padding: 1rem;    
    background-color: var(--ngx-doc-background);
}

ngx-divider {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

ngx-radio-group {
    display: flex;
    gap: 1rem;
}

button {
    margin-top: 2rem;
}
