<nav class="z-50 h-14 docs-nav-layout flex items-center gap-1_5 w-full fixed text-white bg-blue-900 pl-5 shadow-lg">
    <button class="bg-transparent border-0 h-10 flex items-center text-white cursor-pointer rounded text-base gap-2"
        (click)="goHome()">
        <img draggable="false" class="w-8 h-8" alt="logo" src="assets/img/homepage/angular-white-transparent.svg">
         Angular Components
    </button>
    <button class="bg-transparent border-0 h-10 flex items-center text-white cursor-pointer rounded text-base"
        (click)="goComponents()">Components</button>
    <button class="bg-transparent border-0 h-10 flex items-center text-white cursor-pointer rounded text-base"
        (click)="goGuides()">Guides</button>
</nav>
