<div class="flex gap-2">
    <button ngx-button ngxType="primary" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="default" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="dashed" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="text" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="link" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="primary" ngxDanger (click)="openDialog()">Open dialog</button>
</div>
<div class="flex gap-2">
    <button ngx-button ngxType="primary" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="default" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="dashed" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="text" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="link" (click)="openDialog()">Open dialog</button>
    <button ngx-button ngxType="primary" ngxDanger (click)="openDialog()">Open dialog</button>
</div>