button[ngx-button] {
    height: 38px;
    border-radius: 0;
    padding: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[ngx-button] .material-symbols-outlined {
    color: inherit;
    margin: 0;
}


.material-symbols-outlined {
    margin: 0px;
}

ngx-outlined-text-field {
    height: 40px;
    width: 300px;
    border-color: #D9D9D9;
    border-radius: 4px;
}

ngx-outlined-text-field:nth-child(n + 2) {
    margin-top: 1rem;
}

.material-symbols-outlined {
    color: #262626;
    font-size: 20px;
    margin: 8px;
}