<div class="demo-options">
  <ngx-outlined-text-field
    label="Length"
    placeholder="Length"
    type="number"
    [(ngModel)]="length"
  >
  </ngx-outlined-text-field>
  <ngx-outlined-text-field
    label="Page size"
    placeholder="page size"
    type="number"
    [(ngModel)]="pageSize"
  >
  </ngx-outlined-text-field>
  <ngx-switch [(ngModel)]="hidePageSize">Hide page size</ngx-switch>
  <ngx-switch [(ngModel)]="showExtremeButtons">
    Show first/last buttons
  </ngx-switch>
</div>

<ngx-paginator
  [hidePageSize]="hidePageSize"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25]"
  [showExtremeButtons]="showExtremeButtons"
  [length]="length"
  (page)="handlePageEvent($event)"
></ngx-paginator>
