.text-black {
    color: rgb(0 0 0);
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.47);
}

.text-white {
    color: rgb(255 255 255);
}

.text-gray-50 {    
    color:rgb(232, 234, 237);
}

.text-gray-500 {
    color: rgb(107 114 128);
}

.text-gray-600 {
    color: rgb(75 85 99);
}

.text-gray-950 {
    color: rgb(3 7 18);
}

.text-green-400 {
    color: rgb(74 222 128);
}


.text-green-700 {
    color: rgb(21 128 61);
}

.text-green-600 {
    color: rgb(22 163 74);
}
