<div class="flex gap-2">
    <button ngx-button ngxType="primary">Primary Button</button>
    <button ngx-button ngxType="default">Default Button</button>
    <button ngx-button ngxType="dashed">Dashed Button</button>
    <button ngx-button ngxType="text">Text Button</button>
    <button ngx-button ngxType="link">Link Button</button>
</div>

<div class="flex gap-2 mt-4">
    <button ngx-button ngxType="primary" disabled>Primary Button (disabled)</button>
    <button ngx-button ngxType="default" disabled>Default Button (disabled)</button>
    <button ngx-button ngxType="dashed" disabled>Dashed Button (disabled)</button>
    <button ngx-button ngxType="text" disabled>Text Button (disabled)</button>
    <button ngx-button ngxType="link" disabled>Link Button (disabled)</button>
</div>