<h1>40 Grids System.</h1>
<div ngx-row ngxSpan="40">
  <div class="col" ngx-col ngxSpan="20">col-20</div>
  <div class="col" ngx-col ngxSpan="20">col-20</div>
</div>

<div ngx-row ngxGutter="[8,0]" ngxSpan="40">
  <div class="col" ngx-col ngxSpan="10">col-10</div>
  <div class="col" ngx-col ngxSpan="10">col-10</div>
  <div class="col" ngx-col ngxSpan="10">col-10</div>
  <div class="col" ngx-col ngxSpan="10">col-10</div>
</div>

<div ngx-row ngxGutter="[8,0]" ngxSpan="40">
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
  <div class="col" ngx-col ngxSpan="5">col-5</div>
</div>


<button ngx-button ngxType="primary" (click)="closeDialog()">LIKE</button>