<h3>Modal Title</h3>
<ngx-divider></ngx-divider>
<div class="container">
  <p>Some contents...</p>
  <p>Some contents...</p>
  <p>Some contents...</p>
</div>


<ngx-outlined-select-field
  label="Select"
  placeholder="Select option"
  [value]="value"
  (onChangeValue)="onChangeValue($event)"
  required
  multiple
>
  <ngx-option *ngFor="let option of options" [value]="option.value">{{
    option.label
  }}</ngx-option>
</ngx-outlined-select-field>

<button
  ngx-button
  ngxRounded="full"
  ngxFillMode="filled"
  (click)="closeDialog()"
>
  Close dialog
</button>
