.inline {
    display: inline;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;

}

.block {
    display: block;
}

.inline-grid {
    display: inline-grid;
}