nav {
  height: 4rem;
  width: 100%;
  background-color: var(--primary-6);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.logo {
  height: 2.625rem;
  width: 2.625rem;
  cursor: pointer;
}

strong {
  font-weight: 500;
  background-clip: text;
  font-size: 22px;
  -webkit-background-clip: text;
  color: transparent !important;
  background-image: linear-gradient(to right, #8514f5, #f637e3, #fa2c05) !important;
  margin-left: 0.5rem;
}

ul {
  padding-inline-start: 2.25rem;
  padding-inline-end: 2.25rem;
}

li {
  font-weight: 500;
  color: rgb(232, 234, 237);
  cursor: pointer;
  display: flex;
  align-items: center;

  &.li-item {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}

.selected {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--primary-7);
}

a {
  color: unset;
  text-decoration: none;
}

.theme-img {
  filter: invert(100%) sepia(76%) saturate(348%) hue-rotate(209deg) brightness(116%) contrast(101%);
}