<nav class="justify-between">
  <ul>
    <li (click)="navigateByUrl('overview')">
      <img
        class="logo"
        draggable="false"
        src="assets/images/ngx-eagle-logo-fill.svg"
        alt="logo"
      />
      <strong>NGX-EAGLE</strong>
    </li>
    <li
      *ngIf="!isMedium"
      class="li-item"
      [class.selected]="checkActivatedRoute('/components')"
      (click)="navigateByUrl('components/basic')"
    >
      Components
    </li>
    <!-- <li
      [class.selected]="checkActivatedRoute('/templates')"
      (click)="navigateByUrl('templates')"
    >
      Templates
    </li> -->
  </ul>

  <ul>
    <li class="flex items-center cursor-pointer">


      <div class="filled icon-button switch" (click)="setTheme()">
        <span class="material-symbols-outlined light_mode" [class.active]="theme === 'dark'"> light_mode </span>
        <span class="material-symbols-outlined dark_mode" [class.active]="theme === 'light'"> dark_mode </span>
      </div>



    </li>

    <!-- <li class="cursor-pointer">
      <img
        draggable="false"
        src="assets/icons/icon-translate-w.svg"
        alt="icon-translate"
      />
    </li> -->
    <li>
      <a
        class="flex items-center gap-2"
        href="https://github.com/jbisbal91/ngx-eagle"
        target="_blank"
        ><img
          draggable="false"
          src="assets/icons/icon-github-w.svg"
          alt="icon-github"
        />
        GitHub</a
      >
    </li>
  </ul>
</nav>

<nav class="navbar-show-small justify-between" *ngIf="isMedium">
  <ul>
    <li
      class="li-item"
      [class.selected]="checkActivatedRoute('/components')"
      (click)="navigateByUrl('components/basic')"
    >
      Components
    </li>
  </ul>
</nav>
