<ngx-card>

  <ngx-card-header class="items-center">
    <div ngx-card-avatar>A</div>
    <div class="pl-4">
      <h3>Header</h3>
      <p class="text-sm font-medium">Subhead</p>
    </div>
  </ngx-card-header>

  <img ngx-card-image src="assets/images/img/image-card.png" alt="image-card" />

  <ngx-card-content>
    <h3>Title</h3>
    <p class="text-sm font-medium">Subhead</p>
    <p class="text-sm font-medium mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor
    </p>
  </ngx-card-content>

  <ngx-card-actions>
    <button ngx-button ngxRounded="full" ngxFillMode="outlined">Enabled</button>
    <button ngx-button ngxRounded="full" ngxFillMode="filled">Enabled</button>
  </ngx-card-actions>

</ngx-card>