<button
  ngx-button
  buttonRounded="full"
  buttonFillMode="filled"
  (click)="openDrawer()"
>
  Open Drawer
</button>

<ngx-drawer
  [(ngxVisible)]="visible"
  [ngxPlacement]="ngxPlacement"
  [ngxBackdropClosable]="false"
>
  <div class="container">
    <div class="header">
      <p class="title">Basic Drawer</p>
      <span class="material-symbols-outlined cursor-pointer" (click)="close()"> close </span>
    </div>
    <ngx-divider></ngx-divider>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </div>
</ngx-drawer>
