<ngx-pie-chart [value]="values" [width]="200" [height]="200"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.7" [width]="200" [height]="200"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.9" [width]="200" [height]="200"></ngx-pie-chart>

<ngx-pie-chart [value]="values" [width]="100" [height]="100"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.7" [width]="100" [height]="100"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.9" [width]="100" [height]="100"></ngx-pie-chart>
