<ngx-pie-chart [value]="values" [width]="200" [height]="200" ngxPosition="left"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.65" [width]="200" [height]="200" ngxPosition="left"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.85" [width]="200" [height]="200"></ngx-pie-chart>

<ngx-pie-chart [value]="values" [width]="120" [height]="120"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.65" [width]="120" [height]="120"></ngx-pie-chart>
<ngx-pie-chart [value]="values" ngxGutter="0.85" [width]="120" [height]="120"></ngx-pie-chart>
