.ngx-radio-button {
    display: flex;
    max-width: fit-content;
    gap: 0.5rem;
}

.ngx-radio-button>input[type="radio"] {
    margin: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    outline: none;
}

.ngx-radio-button>input[type="radio"]:disabled,
.ngx-radio-button>input[type="radio"]:disabled+label {
    opacity: 0.6;
    cursor: no-drop;
}

.ngx-radio-group .ngx-radio-button {
    
}