<ngx-timeline>
  <ngx-timeline-item ngxColor="#57C620">
    <p>Create a services site 2023-11-23</p>
  </ngx-timeline-item>
  <ngx-timeline-item ngxColor="#57C620">
    <p>Solve initial network problems 2023-11-23</p>
  </ngx-timeline-item>
  <ngx-timeline-item ngxColor="#FF4D4F">
    <p>Solve initial network problems 1</p>
    <p>Solve initial network problems 2</p>
    <p>Solve initial network problems 3 2023-11-23</p>
  </ngx-timeline-item>
  <ngx-timeline-item>
    <p>Technical testing 1</p>
    <p>Technical testing 2</p>
    <p>Technical testing 3 2023-11-23</p>
  </ngx-timeline-item>
  <ngx-timeline-item ngxColor="#BFBFBF">
    <p>Technical testing 1</p>
    <p>Technical testing 2</p>
    <p>Technical testing 3 2023-11-23</p>
  </ngx-timeline-item>
  <ngx-timeline-item ngxColor="#BFBFBF">
    <p>Technical testing 1</p>
    <p>Technical testing 2</p>
    <p>Technical testing 3 2023-11-23</p>
  </ngx-timeline-item>
</ngx-timeline>
