:root {
  --ngx-theme-color-tab-hover: rgb(24, 144, 255);
  --ngx-theme-color-tab-active: rgb(24, 144, 255);
  --ngx-theme-bbottom-tab: 2px solid rgb(24, 144, 255);
  --ngx-theme-filter-close-tab: invert(60%) sepia(0%) saturate(1079%)
    hue-rotate(186deg) brightness(91%) contrast(85%);
}
