:root[theme="dark"] {
  --ngx-theme-color-tab-hover: rgb(255, 255, 255);
  --ngx-theme-color-tab-active: rgb(255, 255, 255);
  --ngx-theme-bbottom-tab: 2px solid rgb(255, 255, 255);
  --ngx-theme-filter-close-tab: invert(95%) sepia(8%) saturate(67%)
    hue-rotate(177deg) brightness(97%) contrast(96%);
}
