.ngx-pie-chart {
  display: inline-flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
}

.ngx-pie-chart .legend-item {
  display: flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  gap: 0.35rem;
  margin: 0.35rem;
  cursor: pointer;
}

.ngx-pie-chart .legend-color {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

.ngx-pie-chart .legend-label {
  font-size: 0.875rem;
}
