.ngx-timeline-item {
  display: flex;
}

.ngx-timeline-item .timeline {
  max-width: fit-content;
}

.ngx-timeline-item .ngx-timeline-item-content {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.ngx-timeline-item .ngx-timeline-item-tail {
  width: 0px;
  border-right: 1px solid #d5d5d5;
  margin-left: auto;
  margin-right: auto;
}

.ngx-timeline-item .ngx-timeline-item-head {
  min-width: 10px;
  min-height: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 100px;
}

