.ngx-timeline-item {
  display: flex;
  gap: 1rem;
}

.ngx-timeline-item>.c-timeline>.timeline {
  max-width: fit-content;
}

.ngx-timeline-item>.timeline-c-left {
  text-align: right;
}

.ngx-timeline-item>.timeline-c-right {
  text-align: left;
}

.ngx-timeline-item>.c-timeline {
  display: flex;
  justify-content: center;
}

.ngx-timeline-item>.c-timeline .ngx-timeline-item-head {
  min-width: 10px;
  min-height: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 100px;
}

.ngx-timeline-item>.c-timeline .ngx-timeline-item-tail {
  width: 0px;
  border-right: 1px solid #d5d5d5;
  margin-left: auto;
  margin-right: auto;
}


.ngx-timeline-item>.ngx-timeline-item-content {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}