<ngx-progress [ngxPercent]="percent"></ngx-progress>

<ngx-progress [ngxPercent]="50" ngxType="circle"></ngx-progress>

<ngx-progress [ngxPercent]="70" ngxColor="#FF4D4F"></ngx-progress>

<ngx-progress
  [ngxPercent]="100"
  ngxColor="#52C41A"
  ngxType="circle"
></ngx-progress>

<ngx-progress [ngxPercent]="60"></ngx-progress>

<div class="flex">
  <ngx-progress
    [ngxPercent]="50"
    ngxColor="#FF4D4F"
    ngxType="circle"
  ></ngx-progress>

  <ngx-progress
    [ngxPercent]="percent"
    ngxColor="#52C41A"
    ngxType="circle"
  ></ngx-progress>

  <button ngx-button ngxFillMode="outlined" (click)="decline()">-</button>
  <button ngx-button ngxFillMode="outlined" (click)="increase()">+</button>
</div>
