<ngx-tag ngxMode="checkable">Tag1</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="#FF3300">Tag2</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="rgb(204, 51, 204)">Tag3</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="rgba(204, 51, 204,0.5)">Tag4</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="hsl(300, 100%, 90%)">Tag5</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="hsla(300, 100%, 90%, 0.5)">Tag6</ngx-tag>
<ngx-tag ngxMode="checkable" ngxColor="indigo">Tag7</ngx-tag>
<ngx-tag
  ngxMode="checkable"
  [ngxColor]="{
    backgroundColor: 'var(--ngx-test-background-color)',
    overlayColor: 'var(--ngx-test-overlay-color)'
  }"
  >Tag8</ngx-tag
>
