.ngx-tab-group.ngx-tab-position-left,
.ngx-tab-group.ngx-tab-position-right {
  display: flex;
}

.ngx-tab-group.ngx-tab-position-right {
  direction: rtl;
}

.ngx-tab-group>ul {
  padding: 0px !important;
  z-index: 50;
  display: flex;
  list-style-type: none;
  margin: 0px;
  position: relative;
  gap: 2rem;
}

.ngx-tab-group>ul.ngx-tab-group-start {
  justify-content: flex-start !important;
}

.ngx-tab-group>ul.ngx-tab-group-center {
  justify-content: center !important;
}

.ngx-tab-group>ul.ngx-tab-group-end {
  justify-content: flex-end !important;
}

.ngx-tab-group>ul.ngx-tab-position-right,
.ngx-tab-group>ul.ngx-tab-position-left {
  display: block;
}

.ngx-tab-group>ul.ngx-tab-position-top {
  border-bottom: 1px solid #f0f0f0;
}

.ngx-tab-group>ul.ngx-tab-position-left {
  border-right: 1px solid #f0f0f0;
}

.ngx-tab-group>ul.ngx-tab-position-right {
  border-left: 1px solid #f0f0f0;
}

.ngx-tab-group>ul>li {
  display: flex;
  justify-content: center;
  max-width: max-content;
  min-width: max-content;
  font-weight: 400;
  height: 2.5rem;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}

.ngx-tab-group>ul>li.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.ngx-tab-group>ul>li.disabled:hover {
  color: inherit;
}

.ngx-tab-group>ul>li:hover {
  color: var(--ngx-theme-color-tab-hover);
}

.ngx-tab-group>ul>li.ngx-tab-position-top {
  border-bottom: 2px solid transparent;
}

.ngx-tab-group>ul>li.ngx-tab-position-left {
  border-right: 2px solid transparent;
}

.ngx-tab-group>ul>li.active.ngx-tab-position-top {
  border-bottom: var(--ngx-theme-bbottom-tab);
  color: var(--ngx-theme-color-tab-active);
  opacity: 1;
}

.ngx-tab-group>ul>li.active.ngx-tab-position-left {
  border-right: var(--ngx-theme-bbottom-tab);
  color: var(--ngx-theme-color-tab-active);
  opacity: 1;
}

.ngx-tab-group>ul>li.active.ngx-tab-position-right {
  border-left: var(--ngx-theme-bbottom-tab);
  color: var(--ngx-theme-color-tab-active);
  opacity: 1;
}

.ngx-tab-close {
  filter: var(--ngx-theme-filter-close-tab);
}

.ngx-tab-close.ngx-tab-position-left {
  margin-right: 0.5rem;
}

.ngx-tab-close.ngx-tab-position-right {
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
  /* 8px */
}

.ml-2 {
  margin-left: 0.5rem;
  /* 8px */
}

.ml-4 {
  margin-left: 1rem;
  /* 16px */
}

.mr-2 {
  margin-right: 0.5rem;
  /* 8px */
}

.mr-4 {
  margin-right: 1rem;
  /* 16px */
}