<ngx-divider ngxText="sub-element align left"></ngx-divider>

<div ngx-row ngxJustify="start">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>

<ngx-divider ngxText="sub-element align center"></ngx-divider>

<div ngx-row ngxJustify="center">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>

<ngx-divider ngxText="sub-element align right"></ngx-divider>

<div ngx-row ngxJustify="end">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>

<ngx-divider ngxText="sub-element align full"></ngx-divider>

<div ngx-row ngxJustify="space-around">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>

<ngx-divider ngxText="sub-element monospaced arrangement"></ngx-divider>

<div ngx-row ngxJustify="space-between">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>

<ngx-divider ngxText="sub-element align evenly"></ngx-divider>

<div ngx-row ngxJustify="space-evenly">
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
  <div class="col" ngx-col ngxSpan="4">col-4</div>
</div>
