<div #input_container class="ngx-outlined-select-field">
  <label #input_label class="ngx-input-label">{{ label }}</label>
  <div class="container">
    <div [id]="inputPrefixId" class="prefix" *ngIf="prefix">
      <span *ngIf="typeOf(prefix) === 'string'">{{ prefix }}</span>
      <ng-template
        *ngIf="typeOf(prefix) === 'object'"
        [ngTemplateOutlet]="prefix"
      ></ng-template>
    </div>
    <input
      class="ngx-nat-input"
      #input
      type="text"
      [pattern]="pattern"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [required]="required"
      (input)="onInput($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (keydown)="onKeyDown($event)"
      [readonly]="!autocomplete"
    />
    <div class="suffix" *ngIf="suffix">
      <span *ngIf="typeOf(suffix) === 'string'">{{ suffix }}</span>
      <ng-template
        *ngIf="typeOf(suffix) === 'object'"
        [ngTemplateOutlet]="suffix"
      ></ng-template>
    </div>
  </div>

  <span class="error-text" *ngIf="!isValid && errorText">{{ errorText }}</span>
</div>
<div
  #options_container
  class="ngx-options-container"
  [class.position-bottom]="optPos === 'bottom'"
  [class.position-top]="optPos === 'top'"
  *ngIf="isFocused && !disabled"
>
  <ng-content></ng-content>
</div>
