<div class="demo-section">
  Switch with value set to <strong>false </strong>
  <ngx-switch [(ngModel)]="switch1Value"></ngx-switch>
</div>

<div class="demo-section">
  Switch with value set to <strong>true </strong>
  <ngx-switch [(ngModel)]="switch2Value"></ngx-switch>
</div>

<div class="demo-section">
  Switch <strong>disabled</strong> with value set to <strong>false </strong>
  <ngx-switch [ngModel]="switch3Value" disabled></ngx-switch>
</div>

<div class="demo-section">
  Switch <strong>disabled</strong> with value set to <strong>true </strong>
  <ngx-switch [ngModel]="switch4Value" disabled></ngx-switch>
</div>