<div class="demo-section" ngxBadge="4">Text with a badge</div>

<div class="demo-section" ngxBadge="5" ngxBadgePosition="before">
  Text with a badge on the left
</div>

<div class="demo-section">
  Button with a badge
  <button ngx-button ngxType="primary" ngxBadge="6">Action</button>
</div>

<div class="demo-section">
  Button with a badge on the left
  <button ngx-button ngxType="primary" ngxBadgePosition="before" ngxBadge="7">
    Action
  </button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button ngx-button ngxType="primary" ngxBadge="99">Hide</button>
</div>
