<strong class="demo-section" ngxBadge="0" ngxBadgeColor="rgba(153, 255, 255, 1)">Text with a badge</strong>

<code class="demo-section" ngxBadge="10000" ngxOverflowCount="999"  ngxBadgeColor="#CC0000" ngxBadgeSize="medium">
  Text with medium badge
</code>

<p class="demo-section" ngxBadge="1000" ngxBadgeSize="large">
  Text with large badge
</p>

<p class="demo-section" ngxBadge="5" ngxBadgePosition="before">
  Text with a badge on the left
</p>

<p
  class="demo-section"
  ngxBadge="5"
  ngxBadgePosition="before"
  ngxBadgeSize="medium"
>
  Text with a medium badge on the left
</p>

<p
  class="demo-section"
  ngxBadge="5"
  ngxBadgePosition="before"
  ngxBadgeSize="large"
>
  Text with a large badge on the left
</p>

<div class="demo-section">
  Button with a badge
  <button ngx-button ngxType="primary" ngxBadge="6">Action</button>
</div>

<div class="demo-section">
  Button with a badge on the left
  <button
    ngx-button
    ngxType="primary"
    ngxBadgePosition="before"
    ngxBadge="7"
    [ngxBadgeColor]="{
      backgroundColor: 'var(--ngx-comp-button-bg-color)',
      overlayColor: 'var(--ngx-comp-button-color)'
    }"
  >
    Action
  </button>
</div>

<div class="demo-section">
  Button toggles badge visibility
  <button
    ngx-button
    ngxType="primary"
    [ngxBadgeHidden]="hidden"
    ngxBadge="8"
    (click)="toggleBadgeVisibility()"
  >
    Hide
  </button>
</div>

<ngx-avatar
  ngxSize="large"
  ngxSrc="assets/images/avatar/man.png"
  [ngxShape]="'square'"
  ngxBadge="5"
></ngx-avatar>

<ngx-radio-group [(ngModel)]="badgePosition">
  <ngx-radio-button ngxValue="after"> After </ngx-radio-button>
  <ngx-radio-button ngxValue="before"> Before </ngx-radio-button>
</ngx-radio-group>

<div class="inline-grid gap-4 mt-4">
  <p ngxBadge="5" [ngxBadgePosition]="badgePosition" ngxBadgeSize="medium">
    Text with a medium badge on the left
  </p>

  <button
    ngx-button
    ngxFillMode="filled"
    [ngxBadgePosition]="badgePosition"
    ngxBadge="6"
  >
    Button
  </button>

  <ngx-avatar
    ngxSize="large"
    [ngxShape]="'square'"
    [ngxBadge]="count"
    [ngxBadgePosition]="badgePosition"
  ></ngx-avatar>

  <button ngx-button ngxFillMode="filled" (click)="minCount()">DECREASE</button>
<button ngx-button ngxFillMode="filled" (click)="addCount()">INCREASE</button>
</div>




