<div ngx-row>
  <div ngx-col ngxSpan="12">col-12</div>
  <div ngx-col ngxSpan="12">col-12</div>
</div>

<div ngx-row>
  <div ngx-col ngxSpan="8">col-8</div>
  <div ngx-col ngxSpan="8">col-8</div>
  <div ngx-col ngxSpan="8">col-8</div>
</div>

<div ngx-row>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
</div>

<div ngx-row>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
</div>
