:host {
    display: flex;
    width: max-content;
    align-items: center;

    &.ngx-switch-label-position-after .ngx-switch-label {
        margin-left: 8px;
    }

    &.ngx-switch-label-position-before .ngx-switch-label {
        margin-right: 8px;
    }

    &.ngx-switch-label-position-before {
        flex-direction: row-reverse;
    }
}

.ngx-switch {
    width: inherit;
    display: inline-flex;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 0.875rem;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)),
        linear-gradient(to right, #fff, #fff);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-user-select: none;
    user-select: none;
}

.ngx-switch:disabled {
    opacity: 0.65;
    cursor: no-drop;
}

.ngx-switch .ngx-switch-knob {
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.2s ease-in-out;
}

.ngx-switch .ngx-switch-knob:before {
    position: absolute;
    inset: 0;
    background-color: #fff;
    border-radius: 999px;
    box-shadow: 0 2px 4px #00230b33;
    transition: all 0.2s ease-in-out;
    content: "";
}

.ngx-switch.ngx-switch-checked {
    background: #1890ff;
}

.ngx-switch .ngx-switch-inner {
    display: block;
    margin: 0 7px 0 25px;
    color: #fff;
    font-size: 12px;
    transition: margin 0.2s;
}


//---------LARGE-----------
.ngx-switch.ngx-switch-lg {
    width: 56px;
    height: 28px;
    line-height: 28px;
}

.ngx-switch.ngx-switch-lg>.ngx-switch-knob {
    width: 24px;
    height: 24px;
}

.ngx-switch.ngx-switch-lg.ngx-switch-checked .ngx-switch-knob {
    left: calc(100% - 26px) !important;
}

//---------DEFAULT-----------
.ngx-switch.ngx-switch-df {
    width: 44px;
    height: 22px;
    line-height: 22px;
}

.ngx-switch.ngx-switch-df>.ngx-switch-knob {
    width: 18px;
    height: 18px;
}

.ngx-switch.ngx-switch-df.ngx-switch-checked .ngx-switch-knob {
    left: calc(100% - 20px) !important;
}


//---------SMALL-----------
.ngx-switch.ngx-switch-sm {
    width: 32px;
    height: 16px;
    line-height: 16px;
}

.ngx-switch.ngx-switch-sm>.ngx-switch-knob {
    width: 12px;
    height: 12px;
}

.ngx-switch.ngx-switch-sm.ngx-switch-checked .ngx-switch-knob {
    left: calc(100% - 14px) !important;
}

.ngx-switch-label {
    cursor: pointer;
    font-size: inherit;
}

.ngx-switch-label:empty {
    display: none;
}