<h1>36 Grids System.</h1>
<div ngx-row ngxSpan="36">
  <div ngx-col ngxSpan="18">col-18</div>
  <div ngx-col ngxSpan="18">col-18</div>
</div>

<div ngx-row ngxSpan="36">
  <div ngx-col ngxSpan="9">col-9</div>
  <div ngx-col ngxSpan="9">col-9</div>
  <div ngx-col ngxSpan="9">col-9</div>
  <div ngx-col ngxSpan="9">col-9</div>
</div>

<div ngx-row ngxSpan="36">
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
  <div ngx-col ngxSpan="6">col-6</div>
</div>

<div ngx-row ngxSpan="36">
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
  <div ngx-col ngxSpan="4">col-4</div>
</div>
