<h1>36 Grids System.</h1>
<div ngx-row ngxGutter="[xs:16,12]" ngxSpan="36">
  <div class="col" ngx-col ngxSpan="18">
    <div class="inner-box">col-18</div>
  </div>
  <div class="col" ngx-col ngxSpan="18">
    <div class="inner-box">col-18</div>
  </div>
</div>

<div ngx-row ngxGutter="16" ngxSpan="36">
  <div class="col" ngx-col ngxSpan="9">
    <div class="inner-box">col-9</div>
  </div>
  <div class="col" ngx-col ngxSpan="9">
    <div class="inner-box">col-9</div>
  </div>
  <div class="col" ngx-col ngxSpan="9">
    <div class="inner-box">col-9</div>
  </div>
  <div class="col" ngx-col ngxSpan="9">
    <div class="inner-box">col-9</div>
  </div>
</div>

<div ngx-row ngxGutter="16" ngxSpan="36">
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
  <div class="col" ngx-col ngxSpan="6">
    <div class="inner-box">col-6</div>
  </div>
</div>

<div ngx-row ngxGutter="16" ngxSpan="36">
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
  <div class="col" ngx-col ngxSpan="4">
    <div class="inner-box">col-4</div>
  </div>
</div>
