.ngx-tag {
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 0.4375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s;
  white-space: nowrap;
  border-color: transparent;
  border: 1px solid transparent;
}

.ngx-tag .ngx-tag-close {
  margin-left: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.ngx-tag.ngx-tag-checkable {
  cursor: pointer;
}

