<ngx-radio-group [(ngModel)]="ngxType">
  <ngx-radio-button ngxValue="card"> Card </ngx-radio-button>
  <ngx-radio-button ngxValue="bordered"> Bordered </ngx-radio-button>
</ngx-radio-group>

<ngx-accordion
  [ngxType]="ngxType"
  ngxExpandIconPosition="right"
  [multi]="false"
  ngxColor="var(--ngx-theme-bg-epanel)"
>
  <ngx-expansion-panel
    label="This is panel header 1"
    [expanded]="true"
    [disabled]="true"
  >
    <p>This is panel header 1 content</p>
  </ngx-expansion-panel>
  <ngx-expansion-panel label="This is panel header 2">
    <p>This is panel header 2 content</p>
  </ngx-expansion-panel>
  <ngx-expansion-panel label="This is panel header 3">
    <p>This is panel header 3 content</p>
  </ngx-expansion-panel>
</ngx-accordion>
