.ngx-badge {
  z-index: auto;
  position: relative;
}

.ngx-badge-content {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  background-color: var(--ngx-theme-badge-background-color);
  color: var(--ngx-theme-badge-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.ngx-badge-small {
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  font-size: 12px;
  padding: 0 6px;
  bottom: calc(100% - 10px);
  left: calc(100% - 10px);
}

.ngx-badge-medium {
  height: 24px;
  min-width: 24px;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 8px;
  bottom: calc(100% - 12px);
  left: calc(100% - 12px);
}

.ngx-badge-large {
  height: 28px;
  min-width: 28px;
  border-radius: 14px;
  font-size: 16px;
  padding: 0 8px;
  bottom: calc(100% - 14px);
  left: calc(100% - 14px);
}

.ngx-badge-small.ngx-badge-before {
  right: calc(100% - 10px);
  left: auto;
}

.ngx-badge-medium.ngx-badge-before {
  right: calc(100% - 12px);
  left: auto;
}

.ngx-badge-large.ngx-badge-before {
  right: calc(100% - 14px);
  left: auto;
}

.ngx-badge-hidden {
  display: none;
}