<div class="flex items-center mb-4">
    <div>
        <label>ngxBordered</label>
        <ngx-switch [(ngModel)]="ngxBordered"></ngx-switch>
      </div>
</div>

<table ngx-table [ngxScroll]="{ y: '300px' }" [ngxBordered]="ngxBordered">
  <thead>
    <tr>
      <th *ngFor="let col of displayedColumns">{{ col }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let val of values() | async">
      <td>{{ val.col1 }}</td>
      <td>{{ val.col2 }}</td>
      <td>{{ val.col3 }}</td>
      <td>{{ val.col4 }}</td>
      <td>{{ val.col5 }}</td>
    </tr>
  </tbody>
</table>
