<div class="flex items-center mb-4">
  <div>
    <label>ngxBordered</label>
    <ngx-switch [(ngModel)]="ngxBordered"></ngx-switch>
  </div>
</div>

<table ngx-table [ngxScroll]="{ y: '400px' }" [ngxBordered]="ngxBordered">
  <thead>
    <tr ngx-column-group>
      <th colspan="4">Employee</th>
      <th colspan="3">Payroll</th>
      <th colspan="3">Contacts</th>
      <th colspan="3">Social Networks</th>
    </tr>
    <tr>
      <th
        ngxResize
        ngxSort
        (changeSorting)="sorting($event, col.value)"
        *ngFor="let col of displayedColumns"
      >
        {{ col.prop }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let val of values">
      <td>
        <ngx-avatar
          [ngxText]="val.full_name"
          [ngxSrc]="val.picture"
        ></ngx-avatar>
        {{ val.full_name }}
      </td>
      <td>{{ val.job_title }}</td>
      <td class="td-flag">
        <img
          draggable="false"
          class="flag"
          [src]="'/assets/flags/' + val.country + '.svg'"
          [alt]="'flag-' + val.country"
        />
      </td>
      <td>
        <ngx-tag [ngxColor]="val.status === 'Active' ? '#278200' : '#D51923'">{{
          val.status
        }}</ngx-tag>
      </td>
      <td>
        <ngx-rate [ngModel]="val.satisfaction" disabled></ngx-rate>
      </td>
      <td>
        <ngx-progress
          [ngxPercent]="val.productivity"
          [ngxSize]="'small'"
          [ngxColor]="getColor(val.productivity)"
        ></ngx-progress>
      </td>
      <td>{{ val.salary | currency }}</td>
      <td>{{ val.phone }}</td>
      <td>{{ val.email }}</td>
      <td>{{ val.address }}</td>
      <td>{{ val.linkedIn }}</td>
      <td>{{ val.twitter }}</td>
      <td>{{ val.instagram }}</td>
    </tr>
  </tbody>
</table>
