@import "./assets/theme/dark.scss";
@import "./assets/theme/light.scss";
@import "./assets/styles/main.scss";
html,
body {
  height: 100vh;
  scroll-behavior: inherit;
}

@font-face {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
  font-display: swap;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  margin: 0;
  font-size: 1rem;
  background: var(--ngx-theme-background);
  color: var(--ngx-theme-color);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
