<div class="flex gap-2 bg-gray-300 h-16 items-center px-4">
    <button ngx-button ngxType="primary" ngxGhost> Ghost Primary </button>
    <button ngx-button ngxType="default" ngxGhost> Ghost Default </button>
    <button ngx-button ngxType="dashed" ngxGhost> Ghost Dashed </button>
    <button ngx-button ngxType="text" ngxGhost> Ghost Text</button>
    <button ngx-button ngxType="link" ngxGhost> Ghost Link</button>
</div>

<div class="flex gap-2 bg-gray-300 h-16 items-center mt-4 px-4">
    <button ngx-button ngxType="primary" ngxGhost disabled> Ghost Primary (disabled) </button>
    <button ngx-button ngxType="default" ngxGhost disabled> Ghost Default (disabled) </button>
    <button ngx-button ngxType="dashed" ngxGhost disabled> Ghost Dashed (disabled) </button>
    <button ngx-button ngxType="text" ngxGhost disabled> Ghost Text (disabled) </button>
    <button ngx-button ngxType="link" ngxGhost disabled> Ghost Link (disabled) </button>
</div>