<ul *ngIf="tabs.length > 0">
  <li
    *ngFor="let tab of tabs"
    [ngClass]="{
      active: tab.isActive,
      disabled: tab.disabled
    }"
    (click)="selectTab(tab)"
  >
    {{ tab.label }}
    <svg
      class="ngx-tab-close"
      *ngIf="ngxMode === 'closeable'"
      (click)="closeTab(tab)"
      xmlns="http://www.w3.org/2000/svg"
      height="1em"
      viewBox="0 -960 960 960"
      width="1em"
    >
      <path
        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
      />
    </svg>
  </li>
</ul>

<div
  class="mt-2"
  [class.animation-center-left]="animationToLeft"
  [class.animation-left-center]="animationToRigth"
>
  <ng-content></ng-content>
</div>
