ul {
  padding: 0px !important;
  z-index: 40;
  display: flex;
  list-style-type: none;
  margin: 0px;
  position: relative;
  gap: 2rem;
  border-bottom: 1px solid #f0f0f0;
  &.ngx-tab-group-start {
    justify-content: flex-start !important;
  }

  &.ngx-tab-group-end {
    justify-content: flex-end !important;
  }

  &.ngx-tab-group-center {
    justify-content: center !important;
  }
  li {
    display: flex;
    justify-content: center;
    max-width: max-content;
    border-bottom: 2px solid transparent;
    font-weight: 400;
    height: 2.5rem;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    &.active {
      color: var(--ngx-theme-color-tab-active);
      border-bottom: var(--ngx-theme-bbottom-tab);
      opacity: 1;
    }
    &.disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
    &:hover {
      color: var(--ngx-theme-color-tab-hover);
    }
  }
}

.animation-right-center {
  position: relative;
  animation-name: animation-right-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-right-center-frames {
  0% {
    left: 100%;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.animation-center-left {
  position: relative;
  animation-name: animation-center-left-frames;
  animation-duration: 0.3s;
}

@keyframes animation-center-left-frames {
  0% {
    left: 100%;
    top: 0px;
  }
  100% {
    left: 0%;
    top: 0px;
  }
}

.animation-left-center {
  position: relative;
  transform: translateX(0.125rem);
  animation-name: animation-left-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-left-center-frames {
  0% {
    right: 100%;
    top: 0px;
  }
  100% {
    right: 0%;
    top: 0px;
  }
}

.mt-2 {
  margin-top: 0.5rem;
  /* 8px */
}

.ngx-tab-close {
  filter: var(--ngx-theme-filter-close-tab);
}
