:host {
  &.ngx-tab-position-left {
    display: flex;
  }
  &.ngx-tab-position-right {
    display: flex;
    direction: rtl;
  }
}

ul {
  padding: 0px !important;
  z-index: 50;
  display: flex;
  list-style-type: none;
  margin: 0px;
  position: relative;
  gap: 2rem;
  &.ngx-tab-group-start {
    justify-content: flex-start !important;
  }

  &.ngx-tab-group-end {
    justify-content: flex-end !important;
  }

  &.ngx-tab-group-center {
    justify-content: center !important;
  }

  &.ngx-tab-position-right,
  &.ngx-tab-position-left {
    display: block;
  }

  &.ngx-tab-position-top {
    border-bottom: 1px solid #f0f0f0;
  }

  &.ngx-tab-position-left {
    border-right: 1px solid #f0f0f0;
  }

  &.ngx-tab-position-right {
    border-left: 1px solid #f0f0f0;
  }

  li {
    display: flex;
    justify-content: center;
    max-width: max-content;
    min-width: max-content;
    font-weight: 400;
    height: 2.5rem;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;

    &.ngx-tab-position-top {
      border-bottom: 2px solid transparent;
    }

    &.ngx-tab-position-left {
      border-right: 2px solid transparent;
    }

    &.active {
      &.ngx-tab-position-top {
        border-bottom: var(--ngx-theme-bbottom-tab);
      }
      &.ngx-tab-position-left {
        border-right: var(--ngx-theme-bbottom-tab);
      }
      color: var(--ngx-theme-color-tab-active);
      opacity: 1;
    }
    &.disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
    &:hover {
      color: var(--ngx-theme-color-tab-hover);
    }
  }
}

.animation-right-center {
  position: relative;
  animation-name: animation-right-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-right-center-frames {
  0% {
    left: 100%;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.animation-center-left {
  position: relative;
  animation-name: animation-center-left-frames;
  animation-duration: 0.3s;
}

@keyframes animation-center-left-frames {
  0% {
    left: 100%;
    top: 0px;
  }
  100% {
    left: 0%;
    top: 0px;
  }
}

.animation-left-center {
  position: relative;
  transform: translateX(0.125rem);
  animation-name: animation-left-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-left-center-frames {
  0% {
    right: 100%;
    top: 0px;
  }
  100% {
    right: 0%;
    top: 0px;
  }
}

.mt-2 {
  margin-top: 0.5rem;
  /* 8px */
}

.ml-2 {
  margin-left: 0.5rem;
  /* 8px */
}

.ml-4 {
  margin-left: 1rem;
  /* 16px */
}

.mr-2 {
  margin-right: 0.5rem;
  /* 8px */
}

.mr-4 {
  margin-right: 1rem;
  /* 16px */
}

.ngx-tab-close {
  filter: var(--ngx-theme-filter-close-tab);
  &.ngx-tab-position-left {
    margin-right: 0.5rem;
  }
  &.ngx-tab-position-right {
    margin-left: 0.5rem;
  }
}
