<ul class="z-40 flex justify-around list-none m-0 relative w-full">
  <li
    class="flex justify-center w-full font-normal cursor-pointer h-10 items-center"
    *ngFor="let tab of tabs"
    [ngClass]="{
      'active font-bold opacity-100': tab.isActive,
      'opacity-50 cursor-no-drop ': tab.disabled
    }"
    (click)="selectTab(tab)"
  >
    {{ tab.label }}
  </li>
</ul>

<div
  class="mt-2"
  [class.animation-center-left]="animationToLeft"
  [class.animation-left-center]="animationToRigth"
>
  <ng-content></ng-content>
</div>
