:host {
  width: 100%;
}

ul {
  padding: 20px 10px 2px 10px !important;
  z-index: 40;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0px;
  position: relative;
  width: 100%;
  li {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid transparent;
    font-weight: 400;
    height: 2.5rem;
    cursor: pointer;
    align-items: center;
    &.active {
      border-bottom: var(--ngx-theme-bbottom-tab);
      font-weight: 700;
      opacity: 1;
    }
    &.disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
}

.animation-right-center {
  position: relative;
  animation-name: animation-right-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-right-center-frames {
  0% {
    left: 100%;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.animation-center-left {
  position: relative;
  animation-name: animation-center-left-frames;
  animation-duration: 0.3s;
}

@keyframes animation-center-left-frames {
  0% {
    right: 0%;
    top: 0px;
  }
  100% {
    right: 100%;
    top: 0px;
  }
}

.animation-left-center {
  position: relative;
  animation-name: animation-left-center-frames;
  animation-duration: 0.3s;
}

@keyframes animation-left-center-frames {
  0% {
    right: 100%;
    top: 0px;
  }
  100% {
    right: 0%;
    top: 0px;
  }
}

.mt-2 {
  margin-top: 0.5rem;
  /* 8px */
}
