<ngx-divider ngxText="Default"></ngx-divider>

<ngx-tag ngxColor="#FFF2E8">Tag1</ngx-tag>
<ngx-tag>Tag2</ngx-tag>
<ngx-tag>Tag3</ngx-tag>

<ngx-divider ngxText="Closeable"></ngx-divider>

<ngx-tag ngxMode="closeable" ngxColor="#FFF2E8">Tag1</ngx-tag>
<ngx-tag ngxMode="closeable" ngxColor="#1890FF">Tag2</ngx-tag>
<ngx-tag ngxMode="closeable" ngxColor="#1890FF">Tag3</ngx-tag>

<ngx-divider ngxText="Checkable"></ngx-divider>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#FFF2E8"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag1</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#1890FF"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag2</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#F20815"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag3</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#38363C"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag4</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#141218"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag5</ngx-tag
>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#CE9900"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag6</ngx-tag
>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#FFFF00"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag7</ngx-tag
>

<ngx-divider ngxText="Sync"></ngx-divider>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#FFF2E8"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag1</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#1890FF"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag2</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#F20815"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag3</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#38363C"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag4</ngx-tag
>
<ngx-tag
  ngxMode="checkable"
  ngxColor="#141218"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag5</ngx-tag
>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#CE9900"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag6</ngx-tag
>

<ngx-tag
  ngxMode="checkable"
  ngxColor="#FFFF00"
  ngxBordered="false"
  (ngxCheckedChange)="ngxCheckedChange($event)"
  [ngxChecked]="ngxChecked"
  >Tag7</ngx-tag
>
