.ngx-table {
    width: 100%;
    border-spacing: 0px;
    margin-bottom: 0;
}

.ngx-table th {
    background-color: var(--ngx-comp-table-header-background-color);
    position: sticky;
    top: 0;
    font-weight: 600;
}

.ngx-table>.arrow-asc-icon,
.ngx-table>.arrow-desc-icon {
    display: inline-block;
    height: 0.875rem;
    width: 0.75rem;
    cursor: pointer;
}

.ngx-table .arrow-asc-icon {
    background: url(/assets/icons/arrow_asc_fill.svg) no-repeat center;
}

.ngx-table .arrow-desc-icon {
    background: url(/assets/icons/arrow_desc_fill.svg) no-repeat center;
}

.ngx-table th,
.ngx-table td {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #dddddd;    
    font-size: 0.875rem;
}


/*** Start of border styles for ngx-table ***/
/* Style for cells (th and td) of the ngx-table-bordered table with right border */
.ngx-table-bordered th,
.ngx-table-bordered td {
    border-right: 1px solid #dddddd;
}

/* Style for the first cell (th and td) of the ngx-table-bordered table with left border */
.ngx-table-bordered th:first-child,
.ngx-table-bordered td:first-child {
    border-left: 1px solid #dddddd;
}

/* Style for th cells of the ngx-table-bordered table with top border */
.ngx-table-bordered th {
    border-top: 1px solid #dddddd;
}

/*** End of border styles for ngx-table ***/

.ngx-table td {
    border-bottom: 1px solid #dddddd;
}

.ngx-table tbody>tr {
    height: 2.5rem;
}

.ngx-table tbody>tr:hover {
    cursor: default;
    background-color: var(--ngx-comp-table-header-background-color);
    transition: all 0.3s;
}

.ngx-table .table-empty {
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}