<div class="flex gap-2">
    <button ngx-button ngxType="primary" ngxDanger> Danger Primary </button>
    <button ngx-button ngxType="default" ngxDanger> Danger Default </button>
    <button ngx-button ngxType="dashed" ngxDanger> Danger Dashed </button>
    <button ngx-button ngxType="text" ngxDanger> Danger Text</button>
    <button ngx-button ngxType="link" ngxDanger> Danger Link</button>
</div>

<div class="flex gap-2 mt-4">
    <button ngx-button ngxType="primary" ngxDanger disabled> Danger Primary (disabled) </button>
    <button ngx-button ngxType="default" ngxDanger disabled> Danger Default (disabled) </button>
    <button ngx-button ngxType="dashed" ngxDanger disabled> Danger Dashed (disabled) </button>
    <button ngx-button ngxType="text" ngxDanger disabled> Danger Text (disabled) </button>
    <button ngx-button ngxType="link" ngxDanger disabled> Danger Link (disabled) </button>
</div>