:root[theme="dark"] {
    --ngx-comp-select-form-field-filled-background-color: rgb(53, 51, 59);
    --ngx-comp-select-opt-bg-hover: #1F1E22;
    --ngx-comp-select-filter-arrow: invert(95%) sepia(8%) saturate(67%)
    hue-rotate(177deg) brightness(97%) contrast(96%);
}