<ngx-accordion>
    <ngx-expansion-panel label="This is the expansion title" ngxType="card">
      <div class="flex gap-2 p-4">This is the primary content of the panel.</div>
    </ngx-expansion-panel>
    <ngx-expansion-panel label="This is the expansion title" ngxType="card">
      <div class="flex gap-2 p-4">This is the primary content of the panel.</div>
    </ngx-expansion-panel>
    <ngx-expansion-panel label="This is the title of the normal type expansion.">
      <div class="p-4">
        <p class="text-justify">
          <span class="font-bold">Lorem Ipsum</span> is simply dummy text of the
          printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has
          survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the
          1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </ngx-expansion-panel>
  </ngx-accordion>
  