.ngx-divider {
  display: flex;
  text-align: center;
  border-top-color: #6b727c;
  align-items: center;
}

.ngx-divider:before,
.ngx-divider:after {
  position: relative;
  top: 50%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  content: "";
}

.ngx-divider.ngx-divider-orientation-left:before {
  width: 2rem;
}

.ngx-divider.ngx-divider-orientation-left:after {
  width: 100%;
}

.ngx-divider.ngx-divider-orientation-center:before,
.ngx-divider.ngx-divider-orientation-center:after {
  width: 50%;
}

.ngx-divider.ngx-divider-orientation-right:before {
  width: 100%;
}

.ngx-divider.ngx-divider-orientation-right:after {
  width: 2rem;
}

.ngx-divider>span {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}