<ngx-accordion ngxType="default" ngxExpandIconPosition="left">
  <ngx-expansion-panel ngxLabel="This is panel header 1">
    <p>This is panel header 1 content</p>
  </ngx-expansion-panel>
  <ngx-expansion-panel ngxLabel="This is panel header 2">
    <p>This is panel header 2 content</p>
  </ngx-expansion-panel>
  <ngx-expansion-panel [ngxLabel]="ngxLabel3"> This is the primary content of the panel. </ngx-expansion-panel>
</ngx-accordion>

<ng-template #ngxLabel3>
  <div class="flex w-full">
    <span class="w-1-2">This is the expansion title</span>
    <span class="w-1-2"> This is a summary of the content</span>
  </div>
</ng-template>
