<ngx-radio-group [(ngModel)]="ngxRounded">
  <ngx-radio-button ngxValue="small"> Small </ngx-radio-button>
  <ngx-radio-button ngxValue="medium"> Medium </ngx-radio-button>
  <ngx-radio-button ngxValue="large"> Large </ngx-radio-button>
  <ngx-radio-button ngxValue="full"> Full </ngx-radio-button>
</ngx-radio-group>

<div class="block mt-4">
  <button ngx-button [ngxRounded]="ngxRounded">Label1</button>
  <button ngx-button ngxFillMode="elevated" [ngxRounded]="ngxRounded">
    Label2
  </button>
  <button ngx-button ngxFillMode="outlined" [ngxRounded]="ngxRounded">
    Label3
  </button>
</div>
