<!-- <div class="block">
  <ngx-outlined-text-field
    placeholder="text"
    type="text"
    label="Label1"
    required
  >
  </ngx-outlined-text-field>

  <ngx-outlined-text-field
    placeholder="email"
    type="email"
    label="Label1"
    required
  >
  </ngx-outlined-text-field> -->

<!-- <ngx-outlined-text-field
    placeholder="Number"
    [value]="valueNumber"
    type="number"
    label="Label1"
    required
  >
  </ngx-outlined-text-field> -->

<ngx-outlined-text-field
  placeholder="Number"
  label="Label1"
  prefix-text="$"
  suffix-text=".00"
  required
>
</ngx-outlined-text-field>

<!-- <ngx-outlined-text-field
    placeholder="password"
    type="password"
    label="Label1"
    required
  >
  </ngx-outlined-text-field>

  <ngx-outlined-text-field
    placeholder="search"
    type="search"
    label="Label1"
    required
  >
  </ngx-outlined-text-field>

  <ngx-outlined-text-field placeholder="tel" type="tel" label="Label1" required>
  </ngx-outlined-text-field>
</div> -->
