ngx-outlined-text-field {
    margin: 1rem;
    height: 46px;
    width: 200px;
    border-radius: 6px;
    border-color: var(--ngx-comp-button-bg-color);
    color: var(--ngx-comp-button-color);
    font-size: 16px;
}
