<div class="flex items-center mb-4">
  <label for="size">SIZE:</label>
  <select name="size" id="size" [(ngModel)]="ngxSize">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="rounded">ROUNDED:</label>
  <select name="rounded" id="rounded" [(ngModel)]="ngxRounded">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="fillMode">Fill Mode:</label>
  <select name="fillMode" id="fillMode" [(ngModel)]="ngxFillMode">
    <option value="filled">filled</option>
    <option value="outlined">outlined</option>
  </select>
</div>

<form [formGroup]="formGroup">
  <ngx-form-field
    [ngxSize]="ngxSize"
    [ngxRounded]="ngxRounded"
    [ngxFillMode]="ngxFillMode"
  >
    <label ngx-label>Label1</label>
    <input ngx-input type="text" placeholder="Ex. pat@example.com"/>
  </ngx-form-field>
  <!-- <ngx-form-field
      [ngxSize]="ngxSize"
      [ngxRounded]="ngxRounded"
      [ngxFillMode]="ngxFillMode"
    >
      <label ngx-label>Label2</label>
      <input ngx-input placeholder="Placeholder2" [(ngModel)]="input2" />
    </ngx-form-field> -->
</form>

