label {
    margin-right: 0.5rem;
}

select {
    height: 2rem;
    font-size: 1rem;
    margin-right: 2rem;
}

ngx-outlined-text-field {
    height: 46px;
    width: 200px;
    border-radius: 6px;
    border-color: var(--ngx-comp-button-bg-color);
    color: var(--ngx-comp-button-color);
    font-size: 16px;
}
