<div class="flex items-center mb-4">
  <label for="size">SIZE:</label>
  <select name="size" id="size" [(ngModel)]="ngxSize">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="rounded">ROUNDED:</label>
  <select name="rounded" id="rounded" [(ngModel)]="ngxRounded">
    <option value="small">small</option>
    <option value="medium">medium</option>
    <option value="large">large</option>
  </select>

  <label for="fillMode">Fill Mode:</label>
  <select name="fillMode" id="fillMode" [(ngModel)]="ngxFillMode">
    <option value="filled">filled</option>
    <option value="outlined">outlined</option>
  </select>
</div>

<ngx-form-field
  [ngxSize]="ngxSize"
  [ngxRounded]="ngxRounded"
  [ngxFillMode]="ngxFillMode"
>
  <label ngx-label>Label</label>
  <input ngx-input placeholder="Placeholder" [(ngModel)]="input" />
</ngx-form-field>
