label {
    margin-right: 0.5rem;
}

select {
    height: 2rem;
    font-size: 1rem;
    margin-right: 2rem;
}

ngx-outlined-text-field {
    height: 4rem;
    width: 20rem;
    border-color: blue;
    color: aqua;
    font-size: 20px;
}
