<p class="text-justify mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti
    licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <ngx-divider class="mt-4" ngxText="Text" ngxColor="#1890FF"></ngx-divider>
  <p class="text-justify mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti
    licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <ngx-divider class="mt-4" ngxText="Left Text" ngxOrientation="left" ngxColor="#006847"></ngx-divider>
  <p class="text-justify mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti
    licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <ngx-divider class="mt-4" ngxText="Right Text" ngxOrientation="right" ngxColor="#FFA600"></ngx-divider>
