:root {
  --ngx-theme-bg-epanel: transparent;
  --ngx-theme-color-epanel: rgb(0, 0, 0);
  --ngx-theme-filter-epanel-arrow: invert(0%) sepia(6%) saturate(7500%)
    hue-rotate(328deg) brightness(103%) contrast(106%);
  --ngx-theme-bg-card: transparent;
  --ngx-theme-bg-act-carousel: #7282A1;
  --ngx-theme-bg-act-carousel-active: rgb(255, 255, 255);
  --ngx-theme-badge-background-color: rgb(244, 67, 54);
  --ngx-theme-badge-color: rgb(255, 255, 255);
}
