<ngx-divider ngxText="Tabs mode default"></ngx-divider>

<ngx-tab-group>
  <ngx-tab label="Tab 1"> Content of tab 1 </ngx-tab>
  <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
  <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
</ngx-tab-group>

<ngx-divider class="mt-4" ngxText="Tabs mode closeable"></ngx-divider>

<div ngx-col ngxSpan="11">
  <ngx-tab-group ngxMode="closeable" [(ngxSelectedIndex)]="selectedIndex" (ngxSelectedIndexChange)="selectedIndexChange($event)">
    <ngx-tab label="Tab 1" disabled> Content of tab 1 </ngx-tab>
    <ngx-tab label="Tab 2"> Content of tab 2 </ngx-tab>
    <ngx-tab label="Tab 3"> Content of tab 3 </ngx-tab>
  </ngx-tab-group>
</div>

{{selectedIndex}}